<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CC\Support Files\aerender.exe"/>
    <add key="OutputPath" value="c:\Files\f\OutPut\ComingUp\"/>
    <add key="AeProjectFile" value="C:\Users\admin\Desktop\Coming UP\Coming Up folder\Coming Up.aep"/>
    <add key="XmlPath" value="C:\files\tmp\xml\measurements.xml"/>
    <add key="DataTxtPath" value="C:\files\tmp\xml\DataCurrent.txt"/>
    <add key="RenderIntervalMin" value="12:20#12:21"/>
    <add key="Composition" value="Weather 2"/>
    <add key="OutPutFileName" value="ComingUp"/>
    <add key="FtpFile" value="measurements"/>
    <add key="FtpServer" value="ftp://ftp.hispantv.com/"/>
    <add key="FtpServerLanAddress" value="c:\files\tmp\meteo\"/>
    <add key="FtpUserName" value="meteo2"/>
    <add key="FtpPassWord" value="meteo110"/>
    <add key="TimeOffsetMin" value="-10"/>
    <add key="XmlLogDirectory" value="C:\files\tmp\xmllog\" />
  </appSettings>
</configuration>