<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CC\Support Files\aerender.exe"/>
    <add key="OutputPath" value="c:\Files\f\OutPut\ComingUp\"/>
    <add key="AeProjectFile" value="C:\Users\admin\Desktop\Coming UP\Coming Up folder\Coming Up.aep"/>
    <add key="DataTxtPath" value="C:\Users\Administrator\Desktop\Weather\HTVWeatherData.xml"/>
    <add key="RenderInterval" value="12:20#12:21"/>
    <add key="Composition" value="Weather 2"/>
    <add key="OutPutFileName" value="ComingUp"/>
    <add key="FtpFile" value="measurements"/>
    <add key="FtpServerLanAddress" value="c:\files\tmp\meteo\"/>
    <add key="TimeOffsetMin" value="-10"/>
  </appSettings>
</configuration>